<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBConnection"  value="Server=xxxx;Database=xxx;Integrated Security=SSPI;" />
    <add key="Script_Path" value=""/>

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs\DataExtractionLogs-{Date}.txt" />

  </appSettings>
</configuration>